<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <meta charset=utf-8 />
    <title>Food Truck Tracker</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />
    <link rel="stylesheet" href="/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="/leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css">
    <link rel="stylesheet" href="/Leaflet.label/dist/leaflet.label.css" />
    <link href='http://fonts.googleapis.com/css?family=Istok+Web:400,700|Merriweather+Sans:800|Open+Sans:600' rel='stylesheet' type='text/css'>
</head>
<body ng-app="FoodTruckApp">
    <navbar></navbar>
    <!--<div id='map'></div>-->
    <!--<a href="#" id='geolocate' class="ui-button">Enable Geolocation</a>-->
    <div ui-view></div>

<script src="/lodash/lodash.js"></script>
<script src="/jquery/dist/jquery.js"></script>
<script src="/bootstrap/dist/js/bootstrap.js"></script>
<script src="/angular/angular.js"></script>
<script src="/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/angular-ui-utils/ui-utils.min.js"></script>
<script src="/angular-ui-map/ui-map.min.js"></script>
<script src='/angular-google-maps/dist/angular-google-maps.js'></script>
<script src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclusterer/1.0/src/data.json" type="text/javascript"></script>
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclusterer/1.0/src/markerclusterer.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASzmLdYLnTljtZuED6ZwyF5QbhdMbeQ7Y&sensor=false"></script>
<script src="/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
<script src="/leaflet/dist/leaflet.js"></script>
<script src="/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
<script src="/Leaflet.awesome-markers/dist/leaflet.awesome-markers.js"></script>
<script src="/Leaflet.label/dist/leaflet.label.js"></script>
<script src="/socket.io-client/socket.io.js"></script>
<script src="/main.js"></script>

</body>
</html>