<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Food Truck Tracker</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="/lodash/lodash.js"></script>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-utils/ui-utils.min.js"></script>
    <script src="/angular-ui-map/ui-map.min.js"></script>
    <script src='/angular-google-maps/dist/angular-google-maps.js'</script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASzmLdYLnTljtZuED6ZwyF5QbhdMbeQ7Y&sensor=false"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
    
    

</head>
<body ng-app="FoodTruckApp">
    <navbar></navbar>
    <div ui-view></div>
</body>
</html>