navbar {

  display: block;
  background: #252222;
  color: #148dfa;
  margin-bottom: 0;

  .navbar{
    margin-bottom: 0;
  }

  a {
    color: #74C2E1;
    &:hover {
      color: white;
    }
  }

  .nav > li > a {
    cursor: pointer;
    &.active {
      color: white;
    }
    &:hover {
      color: white;
      background: #252222;
      outline: none;
      text-decoration: none;
    }
    &:focus {
      color: white;
      background: #252222;
      outline: none;
      text-decoration: none;
    }
  }

  .login-button {
    float: right;
    margin-top: 8px;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: white;
    }
    a {
      color: #148dfa;;
      cursor: pointer;
    }
  }

  .fa-truck{
    font-size: 20px;
  }
}