navbar {

  display: block;
  position: fixed;
  top: 0;
  background: #252222;
  border-bottom: 1px solid white;
  width: 100%;
  z-index: 1000;
  opacity: 0.8;

  .navbar{
    margin-bottom: 0;
  }

  .nav > li > a {
    color: white;
    opacity: 1;
    cursor: pointer;
    &.active {
      color: #ffd600;
    }
    &:hover {
      color: #ffd600;
      background: none;
      outline: none;
      text-decoration: none;
    }
    &:focus {
      color: #ffd600;
      background: none;
      outline: none;
      text-decoration: none;
    }
  }

  .login-button {
    float: right;
    margin-top: 8px;
    color: white;
    border: none;
    &:hover {
      color: #ffd600;
    }
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: white;
    }
    a {
      color: white;
      cursor: pointer;
    }
  }

  .fa-truck{
    font-size: 20px;
  }
}


