#login-form {
  width: 40%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  text-align: left;
}

#signup-form{
	width: 40%;
	margin: 0 auto;
	margin-top: 20px;
	padding: 20px;
	text-align: left;
}

h1{
	color: #148dfa;
	margin-top: 40px;
}

h3{
	color: gray;
}